/* Cenário Principal */

#areaBase {
	position: relative;
	width: 100%;
	height: 100%;
	color: white;
}

#areaJogo {
	position: relative;
	width: 100%;
	height: 100%;
}

#background {
	background: url(../imagens/bg2.gif);
	background-size: 100% 100%;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 12%;
}

/* Barra de Habilidades do Monstro */

.barraHabilidades {
	position: absolute;
	z-index: 10;
	bottom: 1%;
	left: 38%;
	width: 25%;
	height: 13%;
}

.barraHabilidades .habilidade {
	float: left;
	background: url(../imagens/botaoHabilidade2.png);
	background-size: 100% 100%;
	width: 29%;
	height: 99.16%;
	margin-left: 3%;
}
.barraHabilidades .habilidade.ativo {
	background: url(../imagens/botaoHabilidade.png);
	background-size: 100% 100%;
}

.barraHabilidades .habilidade .imagem img {
	position: absolute;
	width: 18.3%;
	height: 62.566%;
	margin-top: 5.2%;
	margin-left: -9.18%;
	cursor: pointer;
}

/* Cenário - Batalha */

.plataformaPedra {
	position: absolute;
	background: url(../imagens/plataformaPedra.png) repeat-x;
	width: 100%;
}

.plataformaGrama {
	position: absolute;
	background: url(../imagens/plataformaGrama.png) repeat-x;
	width: 100%;
}

.plataformaPedra.top{
	height: 17.5%;
	bottom: 12.5%;
	z-index: 2;
	background-size: auto 150%;
}

.plataformaPedra.bot{
	height: 10.5%;
	bottom: 0%;
	z-index: 1;
	background-size: auto 253%;
}

.plataformaGrama.top{
	height: 6%;
	bottom: 30%;
	z-index: 4;
	background-size: auto 585%;
}

.plataformaGrama.bot{
	height: 6%;
	bottom: 10.5%;
	z-index: 3;
	background-size: auto 585%;
}
